#login-form-div{
    width: 50%;
    height: auto;
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    
}
h1{
   display: inline-block;
}
#loginstyle input{
 border: 1px solid gray;
 padding: 10px 20px 10px 20px;
 margin: 5px;
 border-radius: 5px;
}
#btn input{
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 7px;
    margin: 20px;

}
#btn input:hover{
    cursor: pointer;
}