body{
    background-color: rgb(183, 243, 223);
}
#navbar{
    text-align: center;
}

.input{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 20px;
}